/* BookInfo.module.css */
.bookList {
	padding: 20px;
	background-color: #C4F0FD;
	height: 61.4vh; /* 40% of the viewport height */
	width: 100%; /* Full width of the page */
	box-sizing: border-box; /* Ensure padding is included in height/width */
  }
  
  .book-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Increase the minimum size */
	gap: 20px; /* Space between the grid items */
  }
  
  .book-item {
	background-color: transparent; /* Remove background */
	border-radius: 0; /* No rounded corners */
	box-shadow: none; /* Remove shadow */
	transition: none; /* Disable hover effect */
	display: flex;
	flex-direction: column;
	justify-content: center; /* Center all content vertically */
	align-items: center; /* Center all content horizontally */
	padding: 0; /* Remove padding if not needed */
	height: auto; /* Let the height adjust to content */
	width: 300px; /* Adjust width as needed */
	overflow: visible; /* Allow content overflow if necessary */
  }
  
  .book-item:hover {
	transform: translateY(-5px); /* Slightly lift the item on hover */
  }
  
  .image {
	width: 100%;
	height: 200px; /* Fixed height for the image */
	border-radius: 8px;
	margin-bottom: -5px;
	object-fit:contain; /* Ensure the image doesn't stretch */
  }
  
  .title {
	display: flex;
	justify-content: flex-start; /* Align the search bar to the left */
	margin: 5px;
  }
  
  .bookTitle {
	font-size: 14px;
	font-weight: bold;
	color:#1186f3;
	margin-bottom: -10px;
  }
  
  
  .authors, .publisher, .publishedDate, .categories, .pageCount, .rating {
	margin-bottom: -10px;
	font-size: 0.9rem; /* Slightly smaller font size to fit content */
	color: black;
  }
  
  @media (max-width: 1024px) {
	.book-grid {
	  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); /* Adjust for tablets */
	}
  }
  
  @media (max-width: 768px) {
	.book-grid {
	  grid-template-columns: 1fr 1fr; /* Two columns for smaller tablets */
	}
  }
  
  @media (max-width: 480px) {
	.book-grid {
	  grid-template-columns: 1fr; /* Single column for mobile */
	}
  }

  .monthRead {
	display: flex;
	align-items: center;
	gap: 15px; /* Increase space between the image and text */
	max-width: 1300px; /* Increase the max-width of the container */
  }
  
  .monthRead img {
	width: 120px; /* Increase the size of the image */
	height: auto;
	border-radius: 10px; /* Optional: to make the image corners rounded */
  }
  
  .monthRead h3 {
	margin: 0px; /* Add margin for spacing between author and description */
	font-size: 20px; /* Increase font size for the title */
	color:#1186f3;
  }
  
  .monthRead .item-list p {
	margin-top: -5px;
	margin-bottom: 7px;
	font-size: 1.2rem; /* Adjust the font size for better readability */
  }
  
  .item-list-description {
	color: #555;
	line-height: 1.3;
	font-style: italic;
	margin-top: 10px;
	font-size: 13px !important; /* Force the font size to 10px */
  }
  
  
  
  
  
  
  