body {
	background-color:#C4F0FD;
	margin: 0; /* Remove default margin */
  }
 
 .header {
	background-image: url('../../public/images/try.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
	padding: 40px 20px;
	text-align: center;
	border-bottom-right-radius: 300px;
	padding-top:5px;
	padding-bottom: 5px;

  }
  
  .header .row1 h1 {
	font-size: 40px;
	line-height: 1.2;
  }
  
/* Search Bar */
.search {
	display: flex;
	justify-content: flex-start; /* Align the search bar to the left */
	align-items: center;
	margin: 5px;
  }
  
  .search input[type="text"] {
	padding: 10px;
	width: 300px;
	border: none;
	border-radius: 20px;
	outline: none;
	margin-right: 10px;
	font-size: 1rem;
  }
  
  .search button {
	background-color: #ecf7fd;
	color: #6c63ff;
	border: none;
	padding: 10px 20px;
	border-radius: 20px;
	font-size: 1rem;
	cursor: pointer;
	display: flex;
	align-items: center;
  }
  
  .search button i {
	margin-left: 5px;
  }  
	
